<% provide(:title, 'Add New Team') %>
<% provide(:button_text, 'Add Team') %>
<div id="account-setup page-content">
  <h1>Add New Team</h1>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render "layouts/objects/team_form" %>
    </div>
  </div>
</div>
