<% provide(:title, "About") %>
<div class="page-content">
  <div id="about-image">
    <img src="https://cdn.vox-cdn.com/thumbor/J_R7SzvpNxrGRYEqHPjTw5GC5P8=/0x0:4000x2667/1200x800/filters:focal(0x0:4000x2667)/cdn.vox-cdn.com/uploads/chorus_image/image/31295281/483295597.0.jpg" alt="Shabazz">
  </div>
  <div id="about-paragraph>">
    <h1>About Prophet Ratings</h1>
  </div>
  <p>Here, we will need to write some explation about prophet ratings. This should include the purpose of the company and the use cases of the software. We will also give some info about
  how prophet ratings was started.</p>
</div>