<div class="row coming-soon-container">
  <div class="col-xs-12 coming-soon-div">
    <%= image_tag("ProphetLogoWhite.png", alt: "Prophet Ratings", id: "coming-soon-img") %>
    <h1 class="center">Coming Fall 2018</h1>
    <div class="social-logos">
      <a class="fa fa-twitter fa-4x" target="_blank" href="https://www.twitter.com/prophetcbb"></a>
    </div>
  </div>
</div>