<div>
  <h1>Prophet Ratings</h1>
  <p>Here we will explain some of the important features of the app. This page 
  should contain a scolling window that features some screenshots and short 
  explanations of the product.</p>
</div>
<div>
    <h2>Pricing Structures</h2>
</div>