<div id="homeCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#homeCarousel" data-slide-to="1"></li>
    <li data-target="#homeCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://cdn-s3.si.com/s3fs-public/styles/marquee_large_2x/public/2017/10/02/college-basketball-recruiting-scandal-sonny-vaccaro.jpg" alt="basketballs">
      <div class="carousel-caption">
        <h1>Predictive Analytics</h1>
        <p>This is placeholder info for when we fill in the home page.</p>
      </div>
    </div>

    <div class="item">
      <img src="https://cdn-s3.si.com/s3fs-public/2017/09/21/ncaa-transfer-rules-basketball-changes.jpg" alt="Tourney">
      <div class="carousel-caption">
        <h1>Betting Advice</h1>
        <p>More cool features!</p>
      </div>
    </div>

    <div class="item">
      <img src="https://cdn.vox-cdn.com/thumbor/J_R7SzvpNxrGRYEqHPjTw5GC5P8=/0x0:4000x2667/1200x800/filters:focal(0x0:4000x2667)/cdn.vox-cdn.com/uploads/chorus_image/image/31295281/483295597.0.jpg" alt="Shabazz">
      <div class="carousel-caption">
        <h1>Tournament Simulator</h1>
        <p>Win your bracket pool!</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#homeCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#homeCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div id="pricing">
  <h1>Pick Your Plan</h1>
  <div id="simple-plan" class="col-md-4 col-md-offset-1 sub-plan">
    <h2>Basic Plan</h2>
    <h3>$9.99/year</h3>
    <%= link_to "Select Plan", signup_path(:plan_id => "1" ) , { :class=>'faded-button plan-button' }%>
    <p>-Access to Complete Prophet Rankings</p>
    <p>-Team by Team Analytics</p>
    <p>-Advanced Player Statistics</p>
    <p>-Individual Game Predictions</p>
  </div>
  <div id="betting-plan" class="col-md-4 col-md-offset-2 sub-plan">
    <h2>Sports Betting Plan</h2>
    <h3>$49.99/year</h3>
    <%= link_to "Select Plan", signup_path(:plan_id => "2" ), { :class=>'faded-button plan-button' }%>
    <p>-All Basic Plan Features</p>
    <p>-Organized Betting Predictions</p>
    <p>-Historical Betting Performance</p>
    <p>-March Madness Simulator</p>
  </div>
</div>
<%= render 'layouts/objects/carousel' %>