<%= image_tag("Prophet_Logo.png", height: "50") %>

<p>
  <%= @greeting %>, 
</p>

<p>
  Welcome to Prophet Ratings! We hope that you will enjoy your time exploring the app. Please click on the link below to activate your account:
</p>


<%= link_to "Activate My Account", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>