<% provide(:title, 'Create Your Account') %>
<% provide(:button_text, 'Continue') %>
<div id="account-setup page-content">
  <h1>Create Your Account</h1>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'layouts/objects/user_form' %>
    </div>
  </div>
</div>
