
/* home-logged-out */

#pricing {
  padding-top: 30px;
  overflow: hidden;
  clear: both;
  h1 {
    text-align: center;
    padding-bottom: 20px;
  }
  h2 {
    text-align: center;
  }
  .sub-plan{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #66666d;
    background-color: white;
    text-align: center;
    .plan-button {
      padding: 15px 25px;
      font-size: 1.5em;
      color: #fff;
      margin: 20px 40px;
      &:hover {
        margin-top: 10px;
        margin-bottom: 30px;
        box-shadow: 3px 5px 2px grey;
        text-decoration: none;
      }
    }
  }
}