
/* home-logged-out */

#pricing {
  padding-top: 30px;
  overflow: hidden;
  clear: both;
  h1 {
    text-align: center;
    padding-bottom: 20px;
  }
  h2 {
    text-align: center;
  }
  .sub-plan{
    margin: 0px 40px 20px;
    padding: 10px 0px;
    // border-style: solid;
    // border-width: 1px;
    border-radius: 5px;
    // border-color: #66666d;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 10px;
    -webkit-transition: margin-top 0.3s, margin-bottom 0.3s, box-shadow 0.3s; /* Safari */
    transition: margin-top 0.3s, margin-bottom 0.3s, box-shadow 0.3s;
    @media(min-width: $screen-md-min){
      margin: 0 0 10px;
      &:hover {
        margin-top: -5px;
        margin-bottom: 15px;
        box-shadow: 0 0 20px;
      }
    }
    .plan-button {
      padding: 15px 25px;
      font-size: 1.5em;
      color: #fff;
      margin: 20px 40px;
      -webkit-transition: margin-top 0.3s, margin-bottom 0.3s, box-shadow 0.3s; /* Safari */
      transition: margin-top 0.3s, margin-bottom 0.3s, box-shadow 0.3s;
      &:hover {
        margin-top: 10px;
        margin-bottom: 30px;
        box-shadow: 3px 5px 2px grey;
        text-decoration: none;
      }
    }
  }
  @media(min-width: $screen-md-min){
    #simple-plan{
      margin-left: 13%;
    }
    #betting-plan{
      margin-left: 8.33%;
    }
  }
}

/* about */
#about-image {
  img{
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1200px;
  }
}

#about-paragraph {
}