/* New Account*/

#account-header {
  background: linear-gradient(45deg,#0a0d5e 0%,#9d9ebe 100%);
  a {
    color: #fff;
    &:hover {
      background: none;
      color: #dadada;
    }
  }
}

#account-setup {
  h1 {
    text-align: center;
    padding-top: 10px;
  }
  .faded-button {
    height: 30px;
    padding: 6px 12px;
    &:hover {
      color: #dadada;
    }
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}