#homeCarousel {
  .carousel-inner {
    background-color: #000;
    .item {
      max-height: 600px;
      background-color: #000;
    }
  }
  .carousel-caption {
      position: absolute;
      top: 5%;
  }
  h1 {
    font-size: 6em;
  }
}