<header class="navbar navbar-fixed-top navbar-toggleable-md">
  <div class="container">
    <%= link_to image_tag("Prophet_Logo.png", alt: "Prophet logo", width: 200 ),
    root_url, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li id="signup"><%= link_to "Start Free Trial Now!", '# ', { :class=>'faded-button' }%></li>
        <li><%= link_to "Log In", '# '%></li>
      </ul>
    </nav>
  </div>
</header>