<header class="navbar navbar-fixed-top navbar-toggleable-md logged-out-navbar" id="account-header">
  <div class="container">
    <%= link_to image_tag("ProphetLogoWhite.png", alt: "Prophet logo", width: 200 ),
    root_path, id: "logo" %>
  </div>
</header>