<header class="navbar navbar-fixed-top logged-out-navbar" id="account-header">
  <div class="container">
    <%= link_to image_tag("ProphetLogoWhite.png", alt: "Prophet logo", width: 200 ),
    root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log In", login_path %></li>
      </ul>
    </nav>
  </div>
</header>