@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 120px;
  // background-color: #eaeaea;
  @media(min-width: $screen-sm-min){
    .container{
      width: 100%;
    }
    .page-content{
      width: 80%;
      margin: auto;
    }
    .page-content-wide{
      width: 90%;
      margin: auto;
    }
    .logged-out-body{
      margin-top: -20px;
    }
    .footer {
      width: 80%;
      margin: 20px auto;
    }
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
  text-align: center;
}

.alert {
  margin-top: 15px;
}


/* header */

.navbar-fixed-top {
  // padding-top: 10px;
  // padding-bottom: 10px;
  border-bottom: 1px solid #bbb;
  background-color: #fff;
  #signup {
    padding-right: 20px;
    a{
      color: #fff;
      &:hover {
        margin-top: -5px;
        box-shadow: 1px 3px 2px grey;
      }
    }
  }
}

.logged-out-navbar {
  padding: 10px 10px;
  @media(min-width: $screen-md-min){
    padding: 10px 10%;
  }
}

.navbar-right li {
  padding-top: 10px;
  a {
    padding: 15px 25px;
    font-weight: bold;
    color: #66666d;
    &:hover {
      color: #111;
      background-color: #fff;
    }
  }
}

#logged-in-header {
  padding: 0;
  background-color: #0a0d5e;
  #logo-left {
    padding-left: 40px;
    @media(min-width: $screen-sm-min){
      background-image: url('/HeaderLeft.jpg');
    }
    background-color: white;
    background-size: 100%;
  }
  #user-dropdown {
    text-align: right;
    vertical-align: middle;
    padding-top: 20px;
    padding-right: 40px;
    @media(min-width: $screen-sm-min){
      font-size: 1.6em;
      padding-right: 60px;
      @media(min-width: $screen-md-min){
      font-size: 2em;
      }
    }
    font-size: 1.2em;
    a{
      color: white;
    }
    .dropdown-menu{
      margin-right: 20px;
      a {
        color: #66666d;
      }
    }
  }
  .subheader {
    .page-title {
      white-space:nowrap;
      height: 50px;
      color: #0a0d5e;
      font-size: 1.4em;
      // @media(min-width: $screen-md-min){
      //   font-size: 1.4em;
      // }
      padding-left: 10%;
      h2 {
        margin-top: 7px;
      }
    }
    background-color: #66666d;
    ul {
      padding-right: 40px;
      li {
        padding: 0;
          a {
          color: white;
          &:hover {
            color: #66666d;
          }
        }
      }
    }
    .dropdown-menu{
      a {
        color: #66666d;
      }
    }
  }
}

svg {
  display: block;
  width: 100%;
  height: 90px;
  background: blue;
} 

#logo {
  float: left;
  margin-right: 10px;
}

#loggedinNav li {
  a {
    padding: 15px 10px;
    @media(min-width: 844px){
      padding: 15px 15px;
    }
    @media(min-width: 1100px){
      padding: 15px 25px;
    }
  }
}

#account-header li{
  a{
    display: block;
    float: right;
  }
}
/* footer */


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #aaa;
  color: #555;
}

footer a {
  color: #444;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.coming-soon-div{
  background: linear-gradient(45deg,#0a0d5e 0%,#9d9ebe 100%);
  padding-top: 30px;
  padding-bottom: 30px; 
  .fa-4x{
    font-size: 2em;
  }
  @media(min-width: $screen-sm-min){
    padding-top: 150px;
    padding-bottom: 90px;
    .fa-4x{
      font-size: 4em;
    }
  }
  h1{
    color: white;
    font-size: 2.5em;
    @media(min-width: $screen-sm-min){
      font-size: 6em;
    }
  }
  #coming-soon-img {
    width: 1000px;
    max-width: 70%;
    display: block;
    margin: auto;
  }
}